useDynLib(SubsetGridRegression, .registration=TRUE)
export(grid_lasso)
export(grid_lasso_logistic)
export(cv_grid_lasso)
export(cv_grid_lasso_logistic)
export(grid_ridge)
export(cv_grid_ridge)
S3method(predict, grid_lasso)
S3method(predict, cv_grid_lasso)
importFrom(Rcpp, evalCpp)
importFrom(stats, predict, qnorm, var)
importFrom(utils, head)
importFrom(glmnet, glmnet, cv.glmnet)
importFrom(Matrix, Matrix)
importFrom(RSpectra, eigs_sym)
