useDynLib(OrderRegression, .registration=TRUE)
export(order_lasso)
export(order_lasso_logistic)
export(cv_order_lasso)
export(cv_order_lasso_logistic)
export(order_ridge)
export(cv_order_ridge)
S3method(predict, order_lasso)
S3method(predict, cv_order_lasso)
importFrom(Rcpp, evalCpp)
importFrom(stats, predict, qnorm, var)
importFrom(utils, head)
importFrom(glmnet, glmnet, cv.glmnet)
importFrom(Matrix, Matrix)
importFrom(RSpectra, eigs_sym)
